body {
	background-color: #f2f2f2;
}

.container {
    width: 400px;
	background-color: #fff;
	padding: 20px;
	border: 1px solid #ddd;
	border-radius: 10px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	margin: auto;
	margin-top: 10%;
}

h1 {
	text-align: center;
	color: #107b66;
	margin-top: 0;
}

.container{
	transform: translateY(0);
	transition: transform 0.3s ease-in-out;
}

.container:hover {
	transform: translateY(-10px);
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}
input[type="submit"] {
	background-color: #4CAF50;
	color: #fff;
	padding: 10px 20px;
	border: none;
	border-radius: 40px;
	cursor: pointer;
    display: block;
    margin: auto;
   
}

input[type="submit"]:hover {
	background-color: #3e8e41;
}

input[type="number"] {
	width: 80%;
	padding: 4px;
	margin-bottom: 20px;
}

form{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
